@charset "utf-8";
.container-fluid {
    background-color: #CD6062;
    background-image: -webkit-linear-gradient(270deg,rgba(253,219,146,1.00) 0%,rgba(209,253,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(253,219,146,1.00) 0%,rgba(209,253,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(253,219,146,1.00) 0%,rgba(209,253,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(253,219,146,1.00) 0%,rgba(209,253,255,1.00) 100%);

}
.container .row .container-fluid {
    background-color: #D82528;
    border: 8px solid #000000;
}
.media-object-default .media .d-flex.mr-3 {
    border: thick solid #000000;
}
.row .container-fluid p {
}
.container .row .container-fluid {
    background-color: #CF3E40;
    background-image: -webkit-linear-gradient(270deg,rgba(248,248,248,1.00) 0%,rgba(175,166,166,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(248,248,248,1.00) 0%,rgba(175,166,166,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(248,248,248,1.00) 0%,rgba(175,166,166,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(248,248,248,1.00) 0%,rgba(175,166,166,1.00) 100%);
}
.row .col-lg-4 .card.col-md-4.col-lg-12 {
    border: medium solid #000000;
}



#clothingnavcontent1 #paneTwo1 img {

}
.navbar-nav.ml-auto .nav-item.dropdown #navbarDropdown1 {
}
.container-fluid .container .navbar.navbar-expand-lg.navbar-light.bg-light {
    background-image: -webkit-linear-gradient(218deg,rgba(255,255,255,1.00) 0%,rgba(241,145,96,1.00) 100%);
    background-image: -moz-linear-gradient(218deg,rgba(255,255,255,1.00) 0%,rgba(241,145,96,1.00) 100%);
    background-image: -o-linear-gradient(218deg,rgba(255,255,255,1.00) 0%,rgba(241,145,96,1.00) 100%);
    background-image: linear-gradient(232deg,rgba(255,255,255,1.00) 0%,rgba(241,145,96,1.00) 100%);
    border: medium solid #494545;
}
#headingOne1 .mb-0 a {
    color: #774BE4;
    font-style: normal;
}
.media-object-default .media .d-flex.ml-3 {
}

#headingOne1 .mb-0 a {
}
#headingTwo1 .mb-0 .collapsed {
    color: #774BE4;
}
#headingThree1 .mb-0 .collapsed {
    color: #774BE5;
}
.card #collapseOne1 .card-body {
    color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}


.card #collapseTwo1 .card-body {
    color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.card #collapseThree1 .card-body {
    color: #000000;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}










.media-object-default .media .d-flex.ml-3 {
    border: thick solid #000000;
}
.row .container-fluid #clothingnav1 {

}
.row .container-fluid #clothingnav1 {

}

.container {
  width:100%;
  margin:0 auto;
  position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
  background:#F9F9F9;
  padding:25px;
  margin:50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:20%;
  border:none;
  background:#0CF;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.row .col-lg-6 h2 {
    font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", sans-serif;
}

*{ cursor: url("images/normal.cur"), default; }


